/*--------------------------------------------------------------
# Footer Styling
--------------------------------------------------------------*/
.elation-footer-none {
    text-align: center;
}
.elation-bgheader-img {
    background-repeat: no-repeat;
    background-position: center center;
}
